
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h3>Home</h3>
<form th:action="@{/register}" th:object="${user}" method="POST">
    Account:
    <input type="text" th:field="*{account}" />
    <br/>
    Password:
    <input type="text" th:field="*{password}" />
    <br/>
    <input type="submit" value="Register" />
    name:
    <input type="text" th:field="*{name}" />
    <br/>
    <input type="submit" value="Register" />
    email:
    <input type="text" th:field="*{email}" />
    <br/>
    <input type="submit" value="Register" />
    age:
    <input type="text" th:field="*{age}" />
    <br/>
    <input type="submit" value="Register" />
</form>
</body>
</html>