<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<header>
    <div style="height: 80px;text-align: center;font-size: 40px;color: #1cff3c;font-style: italic;background-image: url(https://msmobile.com.vn/upload_images/images/hinh-nen-dep-cho-may-tinh-win-10-5.jpg)" )>SERVICE BOOKING</div>
</header></br>
<a href="/bookingService/bookingResult" class="btn btn-primary">Back to booking service list</a></br> </br>
<a href="/home/login" class="btn btn-primary">Back to Home</a></br> </br>
<body>
<form>
    Search by name:
    <input name="s" type="text">
    Search by status:
    <input name="type" type="text">
    <input type="submit" value="search">
</form> </br>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<table border="1" class="table">
    <thead class="thead-light">
    <tr>
        <th>No</th>
        <th>Service</th>
        <th>Rental cost</th>
        <th>Status</th>
        <th>Booking</th>
        <th>Detail</th>
    </tr>
    </thead>
    <th:block th:each="service,num : ${services}">
        <tr>
            <td th:text="${num.count}"></td>
            <td th:text="${service.nameService}"></td>
            <td th:text="${service.rentalCost}"></td>
            <td th:text="${service.status}"></td>
<!--            <td><a th:href="@{/service/booking/__${service.idService}__}">Booking</a></td>-->
            <td><a th:href="@{/service/booking/__${service.idService}__}">Booking</a></td>
            <td><a th:href="@{/service/detail/__${service.idService}__}">Detail</a></td>
        </tr>
    </th:block>
</table>
<!--<div>-->
<!--    <a th:href="@{'/service/serviceList'(page=1,s=${s},type=${type})}">First</a>-->
<!--    <a th:href="@{'/service/serviceList'(page=${services.number},s=${s},type=${type})}" th:if="${services.hasPrevious()}">Previous</a>-->
<!--    <span th:text="${services.number + 1}"></span>/<span th:text="${services.totalPages}"></span>-->
<!--    <a th:href="@{'/service/serviceList'(page=${services.number + 2},s=${s},type=${type})}" th:if="${services.hasNext()}">Next</a>-->
<!--    <a th:href="@{'/service/serviceList'(page=${services.totalPages},s=${s},type=${type})}">The End</a>-->
<!--</div>-->
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>