<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/}">listProduct</a>
<table class="table table-bordered table-striped" >
    <thead >
    <tr class="table-success">
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each ="carts : ${cart}">
        <td th:text="${carts.getKey().name}"></td>
        <td th:text="${carts.getKey().price}"></td>
        <td>
        <input type="text" th:value="${carts.getValue().count}"></td>
        <td> <a th:href="@{/delete/__${carts.getKey().id}__}"> Delete </a></td>
    </tr>
    </tbody>
</table>
</body>
</html>