<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>View Product</title>
</head>
<body>

<h1>View Product</h1>
<div>
    <a th:href="@{/}">
        Back to product list
    </a>
</div>
<div class="cusdetail">
    <label>Name:</label>
    <label th:text="${product.name}"></label>
</div>
<div class="cusdetail">
    <label>Price:</label>
    <label th:text="${product.price}"></label>
</div>
<div class="cusdetail">
    <label>Manufacturer:</label>
    <label th:text="${product.manufacturer}"></label>
</div>
</body>
</html>